<div class="container">
    <form class="form-signin" method="POST" action="/account/create">
        <h2 class="form-signin-heading">Skapa konto</h2>
        <label for="inputEmail" class="sr-only">E-mejl</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="E-post" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Lösenord</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Lösenord" required="">
        <label for="inputName" class="sr-only">Namn</label>
        <input type="text" name="name" id="inputName" class="form-control" placeholder="Namn" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Skapa</button>
    </form>
</div>