{{>navbar}}

<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>Vars blir det av?</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Pizzan runt hörnet</h4>
                    <p class="list-group-item-text">Pizza 100 sek</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Mammas köttbullar</h4>
                    <p class="list-group-item-text">Husmanskrafs</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Hålet i väggen</h4>
                    <p class="list-group-item-text">Billigaste kebaben i stan</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Kinabuffén</h4>
                    <p class="list-group-item-text">Ät tills du spyr</p>
                </a>
            </div>
            <button type="button" class="btn btn-lg btn-primary">Släng in ett nytt hak</button>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">12:00</h4>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">14:00</h4>
                </a>
            </div>
            <button type="button" class="btn btn-lg btn-primary">Stoppa in en ny tid</button>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Fårrden</h4>
                    <p class="list-group-item-text">1 plats fram, 3 platser bak</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Porschen</h4>
                    <p class="list-group-item-text">1 plats fram</p>
                </a>
            </div>
            <button type="button" class="btn btn-lg btn-primary">Kräng in ett nytt vrålåk</button>
        </div>
    </div>
    <div class="page-header">
        <h1>Gå vidare</h1>
    </div>
    <p>
        <button type="button" class="btn btn-lg btn-success">Kör på ba!</button>
    </p>
</div>