<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">lurre.nu</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {{#if session}}
                <div class="navbar-form navbar-right">
                    <button type="button" class="btn btn-success" onClick="window.location.href='/account/logout'">Logga ut</button>
                </div>
            {{else}}
                <form class="navbar-form navbar-right" method="POST" action="/account/login">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="E-post" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Lösenord" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Logga in</button>
                </form>
            {{/if}}
        </div>
    </div>
</nav>