{{>navbar}}

<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Välj ett åk</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Pizzan runt hörnet (1 plats kvar)</h4>
                    <p class="list-group-item-text">
                        Om 45 minuter (13:00),<br/>
                        Sebbe & Nille hakar på<br/>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;"><span class="sr-only">60% Complete</span></div>
                        </div>
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Mammas köttbullar (1 plats kvar)</h4>
                    <p class="list-group-item-text">
                        Om 15 minuter (12:30),<br/>
                        1/2 platser,<br/>
                        Abbe hakar på<br/>
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Hålet i väggen (3 platser kvar)</h4>
                    <p class="list-group-item-text">Billigaste kebaben i stan</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Kinabuffén (10 platser kvar)</h4>
                    <p class="list-group-item-text">Ät tills du spyr</p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Framsäte</h4>
                    <p class="list-group-item-text">
                        1 plats
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Baksäte</h4>
                    <p class="list-group-item-text">
                        3 platser
                    </p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-lg btn-success">Häng på!</button>
        </div>
    </div>
</div>